/* External */

/* h1{
    color:red;
} */

/* 1 */

/* p{
    color:blue;
} */

/* 2 */

/* .one{
    color:green;
} */

/* 3. */

/* #two{
    color:rgb(161, 18, 201);
}   */

/* 4. */

/* All the one is same color */
/* *{
    color:rgb(169, 4, 181)
} */











/* h1{
    color:blue;

}
p{
    color:rgb(47, 255, 0);
} */